[Desktop Entry]
Name=QuickDict
Comment=Look up words in dictionaries
Exec=/usr/bin/quickdict
Icon=io.github.tigertall.QuickDict
Terminal=false
Type=Application
Categories=GNOME;GTK;Office;Dictionary;
StartupNotify=false
DBusActivatable=false
StartupWMClass=io.github.tigertall.QuickDict
